@charset "utf-8";
/* CSS Document */
.Fond1{
	background-attachment:local;
	background-repeat:round;
	background-position:center;
	background-size:100% 100%;
	border-image-width:auto;
	background-image:url(../Corel/Botones%20Img/duisaudsauiydia.png);
}

.Text1 {
font-weight: bold;
  font-size: 68px;
  font-family: "Arial";
  text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  color: #FFF;
  text-align: center; 
}

.Text2 {

  background: linear-gradient(yellow,red);
  -webkit-background-clip: text;
  color: transparent;  
}
.tab2{background:#F60;
border:#F30 4px solid;
border-radius:15px;}

 
.tabt{
	
	border:#F93 4px solid;
	border-radius:10px;}
	
	.tabs{
border:solid #C63 2px;
border-radius:15%;
}
