@charset "utf-8";
/* CSS Document */

.estilo1 {
	border: Red 4px solid; 
}
.estilo2 {
	background-color: #FF3;
	border-radius:5px;
	border:#FC6 5px solid;
}
.fondo {
	background-repeat:round;
	background-position:center;
	background-size: 100% 100%;
	background-image-width: auto;
	background-image:url(imagenes%201/fondo.jpg)
}
.estilo3 {
	border: Yellow 2px solid; 
}
.estilo4 {
	border: Green 4px solid; 
}
.estilo5 {
	border-radius:20px;
}
