@charset "utf-8";
/* CSS Document */

.bord1 {
	border: 2px solid MediumSeaGreen;
  border-radius: 5px;
	
}
.bord2 {
	border: 2px solid DodgerBlue;
  border-radius: 5px;
	
}
.bord3 {
	border: 2px solid orange;
  border-radius: 5px;
}
.letras {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 30px;
	color: #F63;
}
.letras2 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 30px;
	color: #33C;
}